@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*** NAVIGATION ***/
nav a {
    color: #666;
    text-decoration: none;
}

nav a:hover {
    color: #00ddff;
}

nav a:active {
    color: #DEB887;
}

nav ul {
    border-top: 2px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;
    list-style: none;
    margin: 25px 9px;
    padding: 0;
}

nav li {
    text-transform: uppercase;
    font-family: 'Lora';
    flex-direction: column;
    list-style: none;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
}

/*** HEADER ***/

h1 {
    font-family: 'Lora';
    text-align: center;
    font-size: 80px;
}

h1 a {
    text-decoration: none;
    color: #333;
}

/*** MAIN ***/

h2 {
    font-family: 'Lora';
}

h2 a {
    text-decoration: none;
    color: #666;
}

h2.post-date {
    text-align: right;
    margin: 9px;
}

section.post-content {
    border-top: 2px solid #d0d0d0;
    margin: 9px;
}

p {
    color: #333;
    margin: 20px 0;
    line-height: 1.6;
    font-weight: bold;
}

a {
    color: #666;
    text-decoration: none;
}

figure {
    text-align: center;
}